<h1>Games</h1>
<div>
    {{#if games.length}}
        <div class="row">
            {{#each games}}
                <div class="col s12 m6 l4">
                    <div class="card">
                    <div class="card-image">
                        <img src="{{img}}" alt="{{title}}">
                        
                    </div>
                    <div class="card-content">
                        <span class="card-title">{{title}}</span>
                        <p class="price" data-price>{{price}}</p>
                    </div>
                    <div class="card-action card-action_flex">
                        <a href="/games/{{id}}" target="_blank">Open game</a>
                        <a href="/games/{{id}}/edit?allow=true" target="_blank">Edit game</a>
                        <form action="/card/add" method="POST">
                            <input type="hidden" name="id" value="{{id}}">
                            <button type="submit" class="btn btn-primary">Buy</button>
                        </form>
                    </div>
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        No games yet
    {{/if}}
    </div>


